/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    width: 100%;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
}
/* SIDEBAR LEFT */
.sidebarleft {
    left:  20px;
    top: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    border-right: rgba(128, 128, 128, 0.562) 3px solid;
    background-color: white;
    z-index: 2;
}
.logo {
    position: relative;
    
    top: 20px;
    width: 10vw;
    transition: 500ms;
}
.logo:hover {
    width: 11vw;
}
.navpicto {
    width: 2vw;
}
.nav {
    position: relative;
    
    top: 43%;
   transform: translate(-0%, -50%);
   
}
.navbutton {
    transition: 300ms;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    font-size: 1.6vw; 
    width: fit-content;
    text-align: left;
}
.navbutton:hover {
    transition: 300ms;
   color: #FF00E5;
}
.textnavbutton {
    position: relative;
    bottom: 6px;
   font-weight: 410;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Space Grotesk", sans-serif;
}
.profil {
    position: absolute;
    
    bottom: 40px;
}
/* CONTENT */
    .topbar {
       
        position: fixed;
        top: 0;
        right: 20%;
        left: 15%;
        text-align: center;
        font-size: 2vw;
        background-color: rgba(0, 0, 0, 0.171);
        backdrop-filter: blur(10px);
        color: rgb(0, 0, 0);
    }
    .content {
        z-index: 0;
        position: absolute;
        left: 15%;
        top: 50px;
        margin-left: 23px;
    }
    .profilfirst {
        position: relative;
        left: 2vw;
        top: 2vh;
    }
    .contentfirstpost {
        width: 65%;
        position: relative;
        font-size: 26pt;
        left: 2vw;
    }
    .imagefirstpost {
        width: 65%;
        position: relative;
        left: 2vw;
    }
    .answer {
        width: 60vw;
        display: flex;
        font-size: 20pt;
    }
    .ppboriosi {
        margin-left: 20px;
        width: 70px; height: 70px;
    }
   .answertext {
    margin-left: 20px;
   }
/* SIDEBAR RIGHT */
.rightsidebar {
    z-index: 1;
    background-color: white;
    position: fixed;
    border-left: solid 3px rgba(128, 128, 128, 0.562);
   top: 0;
    right: 0;
    width: 25vw;
    height: 100%;
    overflow-x: scroll;
   overflow-y: scroll;
}

.rechercher {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    border-radius: 3vw;
    width: 90%;
    height: 75px;
    background-color: #DFF5DB;
   
}

.tendances {
    transition: 500ms;
    position: relative;
    top: 20px;
    background-color: #DFF5DB;
    border-radius: 2vw;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow-x: scroll;
    overflow-y: scroll;
    border: solid 1px black;
}
.tendances:hover {
    transition: 200ms;
    background-color: #f5dbf4;
}

.suggestions {
    position: relative;
    top: 40px;
    background-color: #DFF5DB;
    width: 90%;
    height: 30vh;
    border-radius: 40px;
    overflow-x: scroll;
    overflow-y: scroll;
}
.textrechercher {
    font-size: 2vw;
    position: relative;
    top: 50%;
    transform: translate(-0%, -50%);
}
.titletendances {
   
    font-size: 1.7vw;
    text-align: center;
    font-weight: 700;
}
.tendanceentiere {
    
    display: flex;
}
.numero {
    margin-left: 1vw;
}
.tendancename {
    font-size: 1.5vw;
}
.textestendances {
    margin-left: 10px;
}
.voirplus {
    transition: 350ms;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16pt;
    background-color: #52FF00;
    border: 0;
    border-radius: 1000px;
    position: relative;
    left: 50%;
   width: 10vw;
   height: 46px;
    transform: translate(-50%, 0%);
}

.voirplus:hover{
    background-color: #2a8500;
    color: white;
    width: 11vw;
}
.user {
    margin-left: 20px;
    display: flex;
    margin-bottom: 20px;
}
.ppuser {
    height: 3.5vw;
}
.contentprofiles{
    margin-left: 10px;
  
}